################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/KeyWordStatistic/bin/Debug
/KeyWordStatistic/obj/Debug
/.vs/KeyWordStatistic/v15
/packages
