<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--<add name="MySql" connectionString="Server=192.168.100.238;Database=wenku_data;Uid=root;Pwd=cnkittod;" providerName="MySql.Data.MySqlClient" />-->
    <add name="MySql" connectionString="Server=192.168.106.60;Database=enterprise_library;Uid=root;Pwd=cnkittod;AllowZeroDateTime=True;default command timeout=120" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--根据查询语句生成Rec文件-->
    <add key="SqlLine" value="SELECT
company2.`文件名`,
company2.`企业全称`,
company2.`公司简介`,
company2.`经营方式`,
company2.`经营方式规范`,
company2.`所在地`,
company2.`地域规范代码`,
company2.`地域规范`,
company2.`应用领域`,
company2.`应用领域规范代码`,
company2.`应用领域规范`,
company2.`产品列表`,
company2.`地址`,
company2.`联系人`,
company2.`电话`,
company2.`手机`,
company2.`邮箱`,
company2.`传真`,
company2.`列表图片`,
company2.`详情图片`,
company2.`主营产品`,
company2.`产品名称`,
company2.`产品图片`,
company2.URL
FROM `company2`"/>
    <!--默认每个REC文件中数据的最大条数-->
    <add key="PageSize" value="5000000"/>
    <!--REC 文件名称,不用带文件名后缀，默认为txt文本-->
    <add key="FileName" value="company2"/>
    <!--REC文件的默认保存路径-->
    <add key="FilePath" value="E:\2019\kbase\rec"/>
    <!--文件编码格式，例如：GB2312、Unicode、UTF8、ASCII等-->
    <add key="EncodeType" value="GB2312"/>
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>